.header {
  background-color: #282c34;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 1.8rem;
  margin: 0;
}

.menu-icon {
  display: none; /* Hide menu icon in desktop mode */
  font-size: 1.8rem;
  color: #61dafb;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .menu-icon {
    display: block; /* Show menu icon in mobile mode */
  }
}
